<% @page_name="home" %>

<div class="container">

      <div class="home-page">
        <h1>Your way to hack</h1>
        <p class="lead">Do you wanna be best of the best?<br> Use this platform instead of the rest</p>
      </div>

 </div>
